.chapter
    &__item
        border: 2px solid #000000
        border-radius: 2px
        width: 421px
        margin-bottom: 20px
        padding: 8px
.form
    align-content: center
    display: flex
    p 
        font-weight: bold
        font-size: 18px
        margin-right: 14px
    &__price
        margin-right: 0
    &__input
        width: 54px
        border: 2px solid #000000
        font-weight: bold
        font-size: 18px
        margin-left: auto
        margin-right: 0
        text-align: center
    &__sum
        padding: 0
        margin: 0
        margin-left: 10px
        width: 90px
        border: 2px solid #000000