.header
    position: relative
    background: #39AECF
    border: 2px solid #025167
    width: 100%
    padding-top: 15px
    padding-bottom: 15px
    &-block
        position: relative
        display: flex
    &__btn, &__basket
        display: flex
        cursor: pointer
        img
            width: 24px
            height: 24px
    &__basket
        position: relative
        margin-left: auto
    &__counter
        display: flex
        align-items: center
        justify-content: center
        width: 25px
        height: 25px
        background: #fff
        position: absolute
        bottom: -8px
        left: -15px
        border-radius: 50%
        
        