.footer
    z-index: 10
    width: 100%
    position: fixed
    bottom: 0
    background: #39AECF
    border: 2px solid #025167
    width: 100%
    padding-top: 10px
    padding-bottom: 10px
    &-block
        display: flex
        justify-content: center
        align-items: center
        span, &__btn
            font-weight: 500
            font-size: 14px
    &__btn
        margin-left: 20px
        border: 2px solid #000
        padding: 5px